---

---

<article class="bg-secondary-200 mx-8 p-8">
    <img src="" alt="Picture">
    <h3 class="text-xl">Overskrift</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus neque enim, quaerat quod animi illum modi rem iusto autem. Repellendus corrupti rerum cupiditate quod culpa eveniet sequi, aliquid voluptatem velit?</p>
    <h3>Read the story</h3>
</article>