---

---
<article class="bg-secondary-800 text-primary-800 my-8 flex flex-row p-8">
    <div>
<h2 class="text-xl">Dont miss out on anything!</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, sunt! Magni error reprehenderit cupiditate, in commodi ratione accusantium animi ipsa, laborum natus illum, deserunt vel repellat praesentium suscipit repellendus nesciunt!</p>
</div>
<div>
    <h3 >Enter your E-mail</h3>
    Formulae
    <button><h3>Sign up</h3></button>
</div>
<div class="py-8">
    <img src="mail.svg" alt="Letter icon">
    <div/>
</article>